body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    margin-bottom: 20px;
    position: relative;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: block;
}

.rounded-button {
    position: absolute;
    z-index: 1;
    padding: 10px 20px;
    background-color: #b9d6f3;
    color: #a70049;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff8585; /* Màu hồng */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hidden {
    display: none;
}

.overlay p {
    color: white;
    font-size: 24px;
    opacity: 0; /* Ẩn chữ Hello ban đầu */
    animation: fadeInText 2s forwards; /* Sử dụng animation để hiển thị từng kí tự một */
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
