.container {
  position: relative;
  text-align: center;
  margin-top: 50px;
}

#image {
  max-width: 100%;
  max-height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
}

#btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px; /* Bo tròn các góc */
  background-color: #b9d6f3; /* Màu nền */
  color: #333;
  cursor: pointer;
}

#btn:hover {
  background-color: #8fb1d5; /* Màu nền khi hover */
  color: #fff;
}

